/* optional wiki styles
---------------------------------------------------------------------------- */
#wiki {
    margin:10px;
}

/* you can specify other html elements as well */
#wiki p { 
    text-align:justify; 
}

#wiki-edit-menu {
    margin-top:20px;
}

#wiki-forms {
    padding:4px;
}

#wiki-forms input[type=submit], input[type=reset] {
    padding:4px;
}

#wiki-forms input[type=input] {
    border-radius: 6px;
}

#wiki-forms textarea {
    background-color:lightgoldenrodyellow;
}
#wiki-searchform {
    text-align:right;
}
#wiki-searchform input, input[type=submit] {
    padding:4px;
}

/* tables formatting
------------------------------------------------------------ */
#wiki table{
	border-collapse: collapse;
	empty-cells: show;
	border-spacing: 10px;
	border: 1px solid #ccc;
	background: white;
	color:black;
	win-width:50%;
}
#wiki table th {
	background-color: #D3D3D3;
}
#wiki table tr:nth-child(even) {
    background-color: #F8F8F8;
}
#wiki table td, th {
	padding: 7px;
}
#wiki table tr:hover td {
	background-color: #F0F0F0;
}

/* TOC
------------------------------------------------------------ */
#wiki #toc {
    padding:1em;
    display: inline-block;
    border:1px solid black;
}